name: COBOL Check Automation

on:
  push:
    branches: [ main ]

jobs:
  cobol-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
          
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Zowe CLI
        run: |
          npm install -g @zowe/cli
          zowe --version

      - name: Configure z/OSMF profile
        run: |
          zowe config init --global-config

          zowe config set profiles.zosmf.properties.host ${{ secrets.ZOSMF_HOST }}
          zowe config set profiles.zosmf.properties.port ${{ secrets.ZOSMF_PORT }}
          zowe config set profiles.zosmf.properties.user ${{ secrets.ZOWE_USERNAME }}
          zowe config set profiles.zosmf.properties.password ${{ secrets.ZOWE_PASSWORD }}
          zowe config set profiles.zosmf.properties.rejectUnauthorized false
          
      - name: Setup Mainframe Environment and Upload COBOL Check
        env:
          ZOWE_USERNAME: ${{ secrets.ZOWE_USERNAME }}
          ZOWE_PASSWORD: ${{ secrets.ZOWE_PASSWORD }}
        run: |
          chmod +x .github/scripts/zowe_operations.sh
          .github/scripts/zowe_operations.sh 
          
      - name: Run COBOL Check on Mainframe
        env:
          ZOWE_USERNAME: ${{ secrets.ZOWE_USERNAME }}
          ZOWE_PASSWORD: ${{ secrets.ZOWE_PASSWORD }}
        run: |
          chmod +x .github/scripts/mainframe_operations.sh
          .github/scripts/mainframe_operations.sh

